{% extends "base.html" %}
{% block content %}
<div class="jumbotron mt-2 bg-success">
    <div>  
        <div class="container"> 
            <h1 class="display-4 font-weight-bold">Remesh Clone</h1>
            
        <hr>
                <a class="btn btn-primary mt-2" role="button" href='/' >Home</a>

                <a class="btn btn-primary mt-2" role="button" href='/new-conversation'>New Conversation</a>

                <a class="btn btn-primary mt-2" href='/current-conversations' role="button" >Current Conversations</a>
        </div>
    </div>
</div>




{% endblock %}