{% extends "base.html" %}
{% block content %}
{% include 'navigation.html' %}


{% if conversation %} 
<h1 class="mt-2 ml-5">Search Result Found </h1>

<div class="card mt-2 ml-5" style="width: 18rem;">
  <div class="card-body">
    <h6 class="card-title">Conversation:</h6>
    <a href="/conversation-detail/{{ conversation.id }}/" class="card-link">{{ conversation.title }}</a>
    <p class="card-text">{{ conversation.start_date.date }}</p>
  </div>
</div>
{% else %}
    <h1>Nothing found!</h1>
</body> 
{% endif %}

{% endblock content %}