{% extends "base.html" %}
{% block content %}
{% include 'navigation.html' %}


{% if conversation %} 
<h3 class="mt-2 ml-5">Search Result Found </h3>

<div class="card mt-2 ml-5" style="width: 18rem;">
  <div class="card-body">
    <h6 class="card-title">Conversation:</h6>
    <a href="/conversation-detail/{{ conversation.id }}/" class="card-link">{{ conversation.title }}</a>
    <p class="card-text">{{ conversation.start_date.date }}</p>
  </div>
</div>
{% else %}
    <h3 class="mt-2 ml-5">Sorry, that Conversation does not exist.</h3>
</body> 
{% endif %}

{% endblock content %}